
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$inrix-hack-primary: mat.define-palette(mat.$blue-palette);
$inrix-hack-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$inrix-hack-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$inrix-hack-theme: mat.define-dark-theme((
  color: (
    primary: $inrix-hack-primary,
    accent: $inrix-hack-accent,
    warn: $inrix-hack-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($inrix-hack-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  // background: #141824;
//   background: rgb(20,24,36);
// background: linear-gradient(0deg, rgba(20,24,36,1) 0%, rgba(44,60,70,1) 100%);
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
